img {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#messagesDiv em {
	color: red;
	background-color: white;
	padding: 5px;
	border-radius: 50%;
	border: 1px solid grey;
	font-size: 11px;
}

#messagesDiv {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin-bottom: 1rem;
}
